<nav class="nav-wrapper black">
      <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorii
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="">Ciorbe</a>
                <a class="dropdown-item" href="">Desert</a>
                <a class="dropdown-item" href="">Something else here</a>
              </div>
            </li>
 
</nav>


