<nav class="nav-wrapper black">
      <li class="nav-item dropdown">
          <div *ngIf ="categories?.length > 0">
              <div *ngFor="let category of categories">
                  <a class="nav-link dropdown-toggle"  href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                   Categorii
                  </a>
              <div class="dropdown-menu" [(ngModel)]="categories" (click)="getCategories()" aria-labelledby="navbarDropdownMenuLink">
               <!--  <a  class="dropdown-item" value="soup" href="">Ciorbe</a>
                <a  class="dropdown-item" value="dessert" href="">Desert</a>
                <a  class="dropdown-item" value="salad" href="">Salata</a>  -->
                <option value="soup">Ciorbe</option>
                <option value="dessert">Desert</option>
                <option value="salad">Salate</option>
              </div>
             
              </div>
              <h6>{{category.name}}</h6>
         </div>   
               
      </li>
     
</nav> 



<!-- <h4>Categories</h4>
  <select [(ngModel)]="categories" (click)="getCategories()">
    <option value="soup">Ciorbe</option>
    <option value="dessert">Desert</option>
    <option value="salad">Salate</option>
  </select>

  <div *ngFor="let category of categories">
    <h6>{{category.name}}</h6>
  </div> -->