<div class="card">
  <div class="card-content">
    <span class="card-title">Add Item</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
        <div class="row">
            <div class="input-field col s6">
              <input type="text" placeholder="Add Name" [(ngModel)]="item.name" name="title">           
            </div>
            <div class="input-field col s6">
              <input type="text" placeholder="Add Price" [(ngModel)]="item.price" name="price" >
              <strong>RON</strong>   
            </div>

            <div class="input-field col s6">
              <input type="date"  placeholder="Add Day 1" [(ngModel)]="item.days[0]" name="day1">
            </div>
            <div class="input-field col s6">
              <input type="text" bsDatepicker placeholder="Add Day 2" [(ngModel)]="item.days[1]" name="day2">
            </div>

            <input type="submit" value="Submit" class="btn">
    </div>
    </form>
  </div>
</div>

<!-- <div class="container">
  <h2>Add soup</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nume:</label>
      <input type="text" class="form-control" placeholder="Add Name" [(ngModel)]="item.name" name="title">    
    </div>
    <div class="form-group">
      <label for="price">Pret:</label>
      <input type="text" class="form-control" placeholder="Add Price" [(ngModel)]="item.price" name="price" >
    </div>
    
    <div class="form-group">
      <label for="day1">Ziua 1:</label>
      <input type="date"   class="form-control" placeholder="Add Day 1" [(ngModel)]="item.days[0]" name="day1">
    </div>

    <div class="form-group">
      <label for="day2">Ziua 2:</label>
      <input type="text" class="form-control" bsDatepicker placeholder="Add Day 2" [(ngModel)]="item.days[1]" name="day2">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="submit" value="Submit" class="btn btn-success">
  </form>
</div>
 -->
